<!DOCTYPE html>
<html lang="en">
<head>
  <title>Peer Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-light navbar-static-top" style="background-color: #1676a3; color:#fff;" role="navigation">
  <div class="container-fluserID">
    <div style="margin-left:40px;" class="navbar-header">
      <a style="color:white; font-size:200%" class="navbar-brand" href="/">Peer Quiz</a>
    </div>
    <a href="/signup">
    <button style="margin-top:6px;" type="submit" class="btn btn-default">Signup</button>
    </a>
  </div>
</nav>
{% with messages = get_flashed_messages()%}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning">
              <strong>{{ message }}</strong>
             </div>
          {% endfor %}
        {% endif %}
{% endwith %}
<div class="container">
  <div class="card-index card card-container">
    <h2 style = "font-size:150%;">Confirm Your account</h2>
    <form action = "{{ url_for('password_reset') }}" class="form-signin"  method = "POST">
      {{ form.hidden_tag()}}
      <div class="error-message">
       {{ form.email.label }}

          {% if form.email.errors %}
            {% for error in form.email.errors %}
              <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>Alert!</strong> {{ error }}
              </div>

            {% endfor %}
          {% endif %}

          {{ form.email (placeholder='Email')}}
      </div>
      <div >
        {{ form.submit }}
      </div>
    </form>

  </div>
</div>

</body>
