{% extends 'navbar.html' %}
{% block title %}Take a Quiz{% endblock %}

{%block body%}
<div class="qdiv">
  <hr /><h2>Select a Topic to take Quiz</h2><hr />
</div>

<ul class="pagination">
  {% for i in range(topics.pages) %}
  {% if i + 1 == topics.page %}
  <li class="active"><a href="/quiz/create/{{i + 1}}">{{i + 1}}</a></li>
  {% else %}
  <li><a href="/quiz/create/{{i + 1}}">{{i + 1}}</a></li>
  {% endif %}
  {% endfor %}
</ul>

{% for topic in topics.items %}
	<a href="/quiz/view/{{topic.topic_Name}}" class="list-group-item list-group-item-info"><h4>{{topic.topic_Name}}</h4>
	<p style="color:grey;" class="mb-1">Description: {{topic.topic_Desc}}</p></a>
{% endfor %}
<br>
  <div class="qdiv">
    <hr /><h2><a href="/quiz/create/topic">Create New Topic</a></h2><hr />
</div>
{%endblock%}
