<!DOCTYPE html>
<html>
<head>
  <title>Ask us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style=" background-image: url({{ url_for('static', filename='img/main-page-image2.jpg') }})">
  <nav class="navbar bg-primary" role="navigation">
    <div class="container-fluserID">
      <div style="margin-left:40px;" class="navbar-header">
        <a style="color:white; font-size:200%" class="navbar-brand" href="/">Peer Quiz</a>
      </div>
    </div>
  </nav>

  <div class="container " style="width:100%;">
  <div class="card-index card card-container" style="width:100%;">
  {% with messages = get_flashed_messages()%}
      {% if messages %}
        {% for message in messages %}
        <div class="message" style="color: red; font-size: 15px;">{{message}}</div>
        {% endfor %}
      {% endif %}
  {% endwith %}
    <h2 style = "font-size:150%"> Create a New Account </h2><hr />
    <p style="font-style:serif"> It's free and always will be! </p>

    <form class="form-signin" action="/signup" method="POST">
      {{ form2.hidden_tag()}}
      <div class="">
      {{ form2.first_name.label }}
          {% if form2.first_name.errors %}
            {% for error in form2.first_name.errors %}
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>Alert!</strong> {{ error }}
            </div>            {% endfor %}
          {% endif %}

         {{ form2.first_name (placeholder='First Name')}}
      </div>

      <div class="">
          {{ form2.last_name.label }}

          {% if form2.last_name.errors %}
            {% for error in form2.last_name.errors %}
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>Alert!</strong> {{ error }}
            </div>            {% endfor %}
          {% endif %}

          {{ form2.last_name (placeholder='Last Name') }}
        </div>

        <div class="">
          {{ form2.email.label }}

          {% if form2.email.errors %}
            {% for error in form2.email.errors %}
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>Alert!</strong> {{ error }}
            </div>            {% endfor %}
          {% endif %}

          {{ form2.email (placeholder='example@some.com')}}
        </div>

        <div class="">
          {{ form2.phone_no.label }}

          {% if form2.phone_no.errors %}
            {% for error in form2.phone_no.errors %}
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>Alert!</strong> {{ error }}
            </div>            {% endfor %}
          {% endif %}

          {{ form2.phone_no (placeholder='Phone Number') }}
        </div>

        <div class="">
          {{ form2.password.label }}

          {% if form2.password.errors %}
            {% for error in form2.password.errors %}
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>Alert!</strong> {{ error }}
            </div>              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form2.password (placeholder='Password') }}
        </div>

        <div class="">
          {{ form2.re_password.label }}

          {% if form2.re_password.errors %}
            {% for error in form2.re_password.errors %}
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>Alert!</strong> {{ error }}
            </div>            {% endfor %}
          {% endif %}

          {{ form2.re_password (placeholder='Confirm Password') }}
          </div>
          <div class="form-check">
            <label class="form-check-label">
                  {{ form2.remember_me }} {{ (' Remember Me') }}
              </label>
            </div>

        <div class="clearfix">
        {{ form2.submit(class="btn btn-outline-primary") }}
        </div>
      </form>
    </div>

  </div>

</body>
</html>
