
Babel==2.3.4
beautifulsoup4==4.5.3
cryptography==1.7.1

Flask==0.12
Flask-Cors==3.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
imagesize==0.7.1

Jinja2==2.9.4

psycopg2==2.7.1

SQLAlchemy==1.1.5
SQLAlchemy-Utils==0.32.14

virtualenv==15.1.0

Werkzeug==0.11.15

WTForms==2.1
WTForms-Alchemy==0.16.2
WTForms-Components==0.10.3
